.section-tittle{
    width: 1336px;
    height: 178px;
    padding: 0px 52px 0px 52px;
    justify-content: center;
    text-align: center;
}
.our-team{
    font-size: 16px;
}
.meet{
    font-size: 54px;
}
.tittle-text{
    font-size: 20px;
}
.elements{
    width: 310px;
    height: 430px;
    background-color: #FFFFFF;
    
}
.container{    
    width: 1336px;
    height: 908px;
    display: flex;
    margin: 0 auto;
    justify-content:space-between; 
    flex-wrap: wrap;
    

}
.social-icons{
    width: 140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    
    
}
.facebook{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
          
}
.instagram{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
}
.twitter{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
}
.footer-bg{
    background-color: #53535354;
}
.footer-main{
    width: 1306px;
    height: 223px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}.block1{
    width:318.05px;
    height: 221px;
}
.block2{
    width: 136px;
    height: 223px;
    
}
.block3{
    width: 199px;
    height: 223px;
}
.block4{
    width: 107px;
    height: 127.54px;
}
.footer-icons{
    width: 104px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.english{
    width: 80px;
    height: 45px;
    background-color: #054A68;
    text-align: center;
    
}
.language{
    font-size: 14px;
    color: #FFFFFF;
}