.section-tittle{
    width: 1336px;
    height: 178px;
    padding: 0px 52px 0px 52px;
    justify-content: center;
    text-align: center;
}
.our-team{
    font-size: 16px;
}
.meet{
    font-size: 54px;
}
.tittle-text{
    font-size: 20px;
}
.elements{
    width: 310px;
    height: 430px;
    background-color: #FFFFFF;
    
}
.container{    
    width: 1336px;
    height: 908px;
    display: flex;
    margin: 0 auto;
    justify-content:space-between; 
    flex-wrap: wrap;
    

}
.social-icons{
    width: 140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    
    
}
.facebook{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
          
}
.instagram{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
}
.twitter{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
}
