
.section-tittle{
    width: 1336px;
    height: 178px;
    padding: 0px 52px 0px 52px;
    justify-content: center;
    text-align: center;
}
.our-team{
    font-size: 16px;
    font-family: inter-semibold;
}
.meet{
    font-size: 54px;
    font-family: inter-semibold;
}
.tittle-text{
    
    font-size: 20px;
}
.elements{
    width: 310px;
    height: 430px;
    background-color: #FFFFFF;
    
}
.container{    
    width: 1336px;
    height: 908px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content:space-between; 
    align-content: space-between;
    

}
.social-icons{
    width: 140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    
}
.facebook{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
          
}
.instagram{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twitter{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bg{
    background-color: #53535354;
    width: 1336px;
    height: 459px;
    margin: 0 auto;
}
.footer-main{
    width: 1306px;
    height: 223px;
    padding-top: 108px;
    padding-bottom: 181px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}.block1{
    width:318.05px;
    height: 221px;
    margin-right: 144.95px;
}
.block2{
    width: 136px;
    height: 223px;
    margin-right: 254px;
    
}
.block3{
    width: 199px;
    height: 223px;
    margin-right: 147px;
}
.block4{
    width: 107px;
    height: 127.54px;
}
.footer-icons{
    width: 104px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.english{
    width: 80px;
    height: 45px;
    background-color: #054A68;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 58.45px;
    
}
.language{
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-img{
    
    margin-bottom: 32px;
}
.block1-p{
    margin-bottom: 28px;
}
.block2-tittle{
    margin-bottom: 71px;
}
.home{
    margin-bottom: 15px;
}
.about{
    margin-bottom: 15px;
}
.services{
    margin-bottom: 55px;
}
.asset-vault{
    margin-bottom: 15px;
}
.emotional-will{
    margin-bottom: 15px;
}
.names{
    margin-bottom: 4px;
    font-family: inter-semibold;
    font-size: 18px;
}
.profession{
    margin-bottom: 8px;
    font-family: inter-extralight;
    font-size: 14px;
    color: #3E3E59;
}
.elements p{
    font-family: inter-extralight;
    font-size: 14px;
    color: #5F6980;
}
.footer-main h3{
    font-family: inter-semibold;
    font-size: 20px;
    color: #1E1E1E;
}
.footer-main p{
    font-family: inter-extralight;
    font-size: 14px;
    color: #535353;
}