@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Thin.eot');
    src: url('Inter-Thin.eot?#iefix') format('embedded-opentype'),
        url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff'),
        url('Inter-Thin.svg#Inter-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLight.eot');
    src: url('Inter-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraLight.woff2') format('woff2'),
        url('Inter-ExtraLight.woff') format('woff'),
        url('Inter-ExtraLight.svg#Inter-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.eot');
    src: url('Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff'),
        url('Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

